commands:
  01_install_mariadb:
    command: "dnf install -y mariadb105-server"
  02_enable_mariadb:
    command: "systemctl enable mariadb"
  03_start_mariadb:
    command: "systemctl start mariadb || systemctl restart mariadb"
  04_setup_db:
    command: |
      mysql -u root -e "CREATE DATABASE IF NOT EXISTS portfolio CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
      mysql -u root -e "CREATE OR REPLACE USER 'admin'@'localhost' IDENTIFIED BY 'dbwhgus12#';"
      mysql -u root -e "GRANT ALL PRIVILEGES ON portfolio.* TO 'admin'@'localhost';"
      mysql -u root -e "FLUSH PRIVILEGES;"
